#######################################################################
# Datos para n8n
#######################################################################
N8N_URL=https://n8n-staging.dikigo.com/api/v1
N8N_API_KEY=

#######################################################################
# Tunnel ssh
#######################################################################
SSH_HOST=
SSH_PORT=22
SSH_USER=
SSH_KEY_PATH=/home/jeastman/.ssh/id_rsa

#######################################################################
# Datos para PostgreSQL
#######################################################################
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
